*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.main{
    width: 100%;
    height: 2000px;
    position: relative;
    overflow: hidden;
    background: linear-gradient(to right, #66CCCC, #006666);
}
nav{
    width: 80%;
    position: sticky;
    margin: 20px auto;
    z-index: 1;
    display: flex;
    align-items: center;
}
.logo{
    flex-basis: 20%;
    margin-left: -5%;
}
.logo img{
    width: 200px;
}
.nav-links{
    flex: 1;
    text-align: right;
    margin-top: -5%;
    margin-right: -5%;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    margin: 5% 10px;
}
.nav-links ul li a{
    color: #fff;
    text-decoration: none;
    margin: 50px 0 -50px;
    padding: 5px 10px;
    border: 1px solid #fff;
}
.nav-links ul li a:hover{
    background-color: #fff;
    color: #006666;
}
.information{
    width: 1000px;
    height: 1000px;
    position: absolute;
    top: 19%;
    left: 0%;
    margin-left: -5%;
    transform: translatey(-50%);
}
#home{
    width: 1000px;
    height: 1000px;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 50%;
    transition: 1s;
    /*background: #fff;*/
}
.infor img{
    width: 100px;
}
.infor{
    position: absolute;
    display: flex;
    color: #006666;
}
.infor div{
    margin-left: 20px;
}
.infor div h1{
    margin-top: 20px;
}
.infor div p{
    margin-top: 8px;
}
.one{
    top: 100px;
    right: 260px;
    transform: rotate(-60deg);
}
.two{
    top: 390px;
    right: -80px;
}
.three{
    bottom: 150px;
    right: 120px;
    transform: rotate(60deg);
}
.four{
    bottom: 70px;
    right: 490px;
    transform: rotate(120deg);
}
.five{
    bottom: 380px;
    right: 750px;
    transform: rotate(180deg);
}
.six{
    top: 170px;
    right: 630px;
    transform: rotate(-120deg);
}
.Profile{
    width: 300px;
    position: absolute;
    top: 50%;
    left: 35%;
    transform: translateY(-50%);
    z-index: 1;
}
.controls{
    position: absolute;
    right: 5%;
    top: 18%;
    transform: translateY(-20%);
    text-align: center;
}
.controls h2{
    margin: 40px 0;
    color: #fff;
}
#next{
    width: 50px;
    cursor: pointer;
    transform: rotate(270deg);
}
#back{
    width: 50px;
    cursor: pointer;
    transform: rotate(90deg);
}
.overlay{
   width: 0;
   height: 0;
   border-top-left-radius: 50%;
   border-bottom-left-radius:  50%;
   border-bottom-right-radius:  50%;
   border-top-right-radius: 50%;
   border-top: 500px solid #006666; 
   border-right: 500px solid transparent; 
   border-left: 500px solid #006666; 
   border-bottom: 500px solid #006666; 
   position: absolute;
   left: 0;
   top: 0;
}

.details{
    width: 2000px;
    height: 1000px;
    position: absolute;
    top: 63%;
    left: 0%;
    margin-left: -5%;
    transform: translatey(-50%);
}
#rectangle{
    width: 1580px;
    height: 1000px;
    position: absolute;
    top: 0;
    left: 79px;
    border-style: solid;
    border-color: #006666;
    background: linear-gradient(to right, #66CCCC, #006666);
}
.detail img{
    width: 80px;
}
.detail{
    position: absolute;
    display: flex;
    color: #006666;
}
.detail div{
    margin-left: 20px;
}
.detail div h2{
    margin-top: 10px;
}
.detail div p{
    margin-top: 8px;
}
.about{
    width: 200px;
    top: 90px;
    left: 190px;
}
.experience{
    width: 270px;
    top: 540px;
    left: 190px;
}
.awards{
    width: 220px;
    top: 90px;
    left: 930px;
}
.education{
    width: 255px;
    top: 390px;
    left: 930px;
}
.skill{
    width: 185px;
    top: 690px;
    left: 930px;
}
.area{ 
    position: absolute;
    background: #CCFFFF;
    opacity: 60%;
    border-style: solid;
    border-color: #003333;
    border-radius: 5px;
}
.numberone{
    width: 600px;
    height: 350px;
    top: 80px;
    left: 180px;
}
.numberone p{
    margin: 120px 20% -20px;
}
.numbertwo{
    width: 600px;
    height: 350px;
    top: 530px;
    left: 180px;
}
.numbertwo h2{
    margin: 120px 3% -40px;
}
.numbertwo p{
    margin: -140px 20% 160px;
}
.numberthree{
    width: 600px;
    height: 250px;
    top: 80px;
    left: 920px;
}
.numberthree h2{
    margin: 110px 3% -80px;
}
.numberthree p{
    margin: -90px 20% 115px;
}
.numberfour{
    width: 600px;
    height: 250px;
    top: 380px;
    left: 920px;
}
.numberfour h2{
    margin: 110px 3% -80px; 
}
.numberfour p{
    margin: -80px 20% 120px;
}
.numberfive{
    width: 600px;
    height: 260px;
    top: 680px;
    left: 920px;
}
.numberfive img{
    margin-top: 44px;
    margin-left: 140px;
}
.areasix{
    width: 2000px;
    height: 400px;
    position: absolute;
    top: 100%;
    left: 0%;
    margin-left: -5%;
    transform: translatey(-50%);
}
#more{
    width: 2000px;
    height: 200px;
    position: absolute;
    top: -20px;
    left: 79px;
    opacity: 50%;
    border-style: solid;
    border-color: #003333;
    background: #006666;
}
.more{
    margin-top: 30px;
    display: flex;
    margin-left: 100px;
}
.more img{
    width: 100px;
}
.more div{
    margin-left: 20px;
}
.more div h2{
    margin-top: 20px;
}
.more div p{
    margin-top: 8px;
}
.line{
    position: absolute;
    left: 0;
    opacity: 80%;
    width: 400px;
    height: 5px;
    background: #006666;
}
.no1{
    top: 165px;
    left: 290px;
}
.no2{
    top: 615px;
    left: 290px;
}
.no3{
    top: 165px;
    left: 1030px;
}
.no4{
    top: 465px;
    left: 1030px;
}
.no5{
    top: 765px;
    left: 1030px;
}
.no6{
    width: 180px;
    top: 80px;
    left: 230px;
    transform: rotate(90deg);
}
.horizonline{
    position: absolute;
    left: 0;
    opacity: 80%;
    width: 2000px;
    height: 16px;
    background: #66FFFF;
}
.no_1{
    top: -35px;
}
.no_2{
    top: 184px;
}
.address {
    color: #fff;
    position: sticky;
}
.address h3{
    margin: -110px 18% 150px;
}
.address h4{
    margin: -170px 24% 150px;
}
.contact {
    color: #fff;
    position: sticky;
}
.contact h3{
    margin: -120px 18% 150px;
}
.phone{
    margin: -170px 24% 150px;
}
.email{
    margin: -170px 35% 150px;
}
.social{
    color: #fff;
    position: sticky;
}
.social h3{
    margin: -120px 18% 0px;
}
.facebook{
    margin: -20px 24% 0px;
}
.facebook a{
    color: #fff;
}
.github{
    margin: -20px 32% 0px; 
}
.github a{
    color: #fff;
}
.instagram{
    margin: -20px 39% 0px;
}
.instagram a{
    color: #fff;
}
.youtube{
    margin: -20px 47% 0px;
}
.youtube a{
    color: #fff;
}
.top {
    margin: -100px 75% 0px;
}
.top img{
    position: sticky;
    width: 100px;
}